
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: black;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: black;
  }
}

h2.fontsize1{
    font-size: 100px;
   font-family: 'Dancing Script', cursive;
    text-align: center;
    
}

h5.fontsize2{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
h1.fontsize3{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    background-color: white;
    text-align: center;
    color:black;
}

.contactme{
    background-color: black;
}

.contactme1{
margin: 2rem;
    
    
}
.padimage{
    padding-top: 5rem;
}
.textpadding{
    padding-top: 15px;
    font-size: 30px;
     font-family: 'Dancing Script', cursive;
}